<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/addsToBootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="home-page :: header"></header>
<div class="container mt-5" style="width: 500px">
    <h3 class="text-center">Изменение оператора</h3>
    <form th:method="POST" th:action="@{/admin/edit-operator}" th:object="${oper}">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{label}" th:placeholder="${oper.label}" class="form-control"><br/>
        <div th:if="${#fields.hasErrors('label')}" th:errors="*{label}" style="color: red">Ошибка</div>
        <button type="submit" class="btn btn-success">Изменить</button>
    </form>
</div>
</body>
</html>