<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/addsToBootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:if="${role == 1}" th:fragment="header">
    <header th:insert="menu :: admin_head"></header>
</div>
<div th:if="${role == 2}" th:fragment="header">
    <header th:insert="menu :: operator_head"></header>
</div>
<div th:if="${role == 3}" th:fragment="header">
    <header th:insert="menu :: consumer_head"></header>
</div>
<div th:if="${role == null}" th:fragment="header">
    <header th:insert="menu :: head"></header>
</div>
</body>
</html>