<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head">
    <nav>
        <ul>
            <li><img th:src="@{/images/logo.png}" width="50px"></li>
            <li><a th:href="@{/}" aria-current="page">Главная</a></li>
            <li><a>Операторы</a>
                <ul>
                    <li><a th:href="@{/forAll}">Список операторов</a></li>
                    <li><a th:href="@{/forAll/find-operator}">Данные
                        оператора</a></li>
                </ul>
            <li><a>Тарифы</a>
                <ul>
                    <li><a th:href="@{/forAll/elTar}">Тарифы на
                        электричество</a>
                    </li>
                    <li><a th:href="@{/forAll/gasTar}">Тарифы на газ</a></li>
                    <li><a th:href="@{/forAll/heatTar}">Тарифы на
                        отопление</a>
                    </li>
                </ul>
            <li><a th:href="@{/rest}">Rest</a></li>
            <li><a th:href="@{/login}">Войти</a></li>
        </ul>
    </nav>
</div>
<div th:fragment="admin_head">
    <nav>
        <ul>
            <li><img th:src="@{/images/logo.png}" width="50px"></li>
            <li><a th:href="@{/}" aria-current="page">Главная</a></li>
            <li><a>Операторы</a>
                <ul>
                    <li><a th:href="@{/forAll}">Список операторов</a></li>
                    <li><a th:href="@{/admin/allAdmin-operators}">Список моих операторов</a></li>
                    <li><a th:href="@{/admin/add-operator}">Добавить
                        оператора</a>
                    </li>
                    <li><a th:href="@{/forAll/find-operator}">Данные
                        оператора</a></li>
                    <li><a th:href="@{/admin/createAdmin}">Добавить админа</a></li>
                    <li><a th:href="@{/admin/adminList}">Список админов</a></li>
                </ul>
            <li><a>Потребители</a>
                <ul>
                    <li><a th:href="@{/operator}">Список потребителей</a>
                    </li>
                    <li><a th:href="@{/operator/findConsInfo}">Данные
                        потребителя</a></li>
                </ul>
            <li><a>Тарифы</a>
                <ul>
                    <li><a th:href="@{/forAll/elTar}">Тарифы на
                        электричество</a>
                    </li>
                    <li><a th:href="@{/forAll/gasTar}">Тарифы на газ</a></li>
                    <li><a th:href="@{/forAll/heatTar}">Тарифы на
                        отопление</a>
                    </li>
                </ul>
            <li><a th:href="@{/rest}">Rest</a></li>
            <li><a th:href="@{/signOut}">Выйти</a></li>
        </ul>
    </nav>
</div>
<div th:fragment="operator_head">
    <nav>
        <ul>
            <li><img th:src="@{/images/logo.png}" width="50px"></li>
            <li><a th:href="@{/}" aria-current="page">Главная</a></li>
            <li><a>Операторы</a>
                <ul>
                    <li><a th:href="@{/forAll}">Список операторов</a></li>
                    <li><a th:href="@{/forAll/find-operator}">Данные
                        оператора</a></li>
                </ul>
            <li><a>Потребители</a>
                <ul>
                    <li><a th:href="@{/operator}">Список потребителей</a>
                    </li>
                    <li><a th:href="@{/operator/findOpCons}">Список моих потребителей</a>
                    </li>
                    <li><a th:href="@{/operator/addConsumer}">Добавить
                        потребителя</a></li>
                    <li><a th:href="@{/operator/findConsInfo}">Данные
                        потребителя</a></li>
                </ul>
            <li><a>Тарифы</a>
                <ul>
                    <li><a th:href="@{/forAll/elTar}">Тарифы на
                        электричество</a>
                    </li>
                    <li><a th:href="@{/forAll/gasTar}">Тарифы на газ</a></li>
                    <li><a th:href="@{/forAll/heatTar}">Тарифы на
                        отопление</a>
                    </li>
                </ul>
            <li><a th:href="@{/rest}">Rest</a></li>
            <li><a th:href="@{/signOut}">Выйти</a></li>
        </ul>
    </nav>
</div>
<div th:fragment="consumer_head">
    <nav>
        <ul>
            <li><img th:src="@{/images/logo.png}" width="50px"></li>
            <li><a th:href="@{/}" aria-current="page">Главная</a></li>
            <li><a>Операторы</a>
                <ul>
                    <li><a th:href="@{/forAll}">Список операторов</a></li>
                    <li><a th:href="@{/forAll/find-operator}">Данные
                        оператора</a></li>
                </ul>
            <li><a>Тарифы</a>
                <ul>
                    <li><a th:href="@{/forAll/elTar}">Тарифы на
                        электричество</a>
                    </li>
                    <li><a th:href="@{/forAll/gasTar}">Тарифы на газ</a></li>
                    <li><a th:href="@{/forAll/heatTar}">Тарифы на
                        отопление</a>
                    </li>
                </ul>
            <li><a>Личный кабинет</a>
                <ul>
                    <li><a th:href="@{/consumer/createReport}">Оплатить</a></li>
                    <li><a th:href="@{/consumer/allReports}">История платежей</a></li>
                </ul>
            <li><a th:href="@{/rest}">Rest</a></li>
            <li><a th:href="@{/signOut}">Выйти</a></li>
        </ul>
    </nav>
</div>
</html>
