<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/addsToBootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="home-page :: header" style="position: relative; z-index: 9999;"></header>
<div class="container mt-3" >
    <h3 class="text-center">Изменение потребителя</h3>
    <br>
    <br>
    <form th:method="POST" th:action="@{/operator/editConsumer}" th:object="${consumer}" style="width: 100%">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label> Имя:
                    <input type="text" th:field="*{name}" class="form-control">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Ошибка</div>
                </label>
            </div>
            <div class="col-md-3 mb-3">
                <label> Фамилия:
                    <input type="text" th:field="*{surname}" class="form-control">
                    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red">Ошибка</div>
                </label>
            </div>
            <div class="col-md-3 mb-3">
                <label> Жилая площадь:
                    <input type="text" th:field="*{apartmentSquare}" class="form-control">
                    <div th:if="${#fields.hasErrors('apartmentSquare')}" th:errors="*{apartmentSquare}" style="color: red">Ошибка</div>
                </label>
            </div>
            <div class="col-md-3 mb-3">
                <label> Количество проживающих:
                    <input type="text" th:field="*{numberOfResidents}" class="form-control">
                    <div th:if="${#fields.hasErrors('numberOfResidents')}" th:errors="*{numberOfResidents}" style="color: red">Ошибка</div>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <label>Тариф на электричество:</label>
                <select class="custom-select d-block w-100" name="elTar">
                    <option th:each="etar : ${elTar}" th:value="${etar.id}" th:text="${etar.tariff}" class="form-control" style="width: 150px"></option>
                </select>
            </div>
            <div class="col-md-4 mb-4" >
                <label>Тариф на газ:</label>
                <select class="custom-select d-block w-100" name="gasTar">
                    <option th:each="gtar : ${gasTar}" th:value="${gtar.id}" th:text="${gtar.tariff}" class="form-control" style="width: 150px"></option>
                </select>
            </div>
            <div class="col-md-4 mb-4">
                <label>Тариф на теплоту:</label>
                <select class="custom-select d-block w-100" name="heatTar">
                    <option th:each="htar : ${heatTar}" th:value="${htar.id}" th:text="${htar.tariff}" class="form-control" style="width: 150px"></option>
                </select>
            </div>
        </div>
        <input type="hidden" th:field="*{id}" th:value="${consumer.id}">
        <button type="submit" class="btn btn-success" style="width: 20%; float: right;">Изменить</button>
    </form>
</div>
</body>
</html>