<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/addsToBootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="menu :: head" style="position: relative; z-index: 9999;"></header>
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-4">
                <h4 class="text-center">Тарифы на электричество</h4>
                <table class="table table-bordered table-hover text-center">
                    <tr class="table-dark text-dark">
                        <th>Id</th>
                        <th>Головная организация</th>
                        <th>Стоимость</th>
                        <th>Удалить тариф у оператора</th>
                    </tr>
                    <tr th:each="el : ${elTar}">
                        <td th:text="${el.id}"></td>
                        <td th:text="${el.admin.label}"></td>
                        <td th:text="${el.tariff}"></td>
                        <td>
                            <a th:href="@{'/operator/add-tariff?id=' + ${el.id} +'&value=el'}">Добавить</a>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="col-md-4">
                <h4 class="text-center">Тарифы на газ</h4>
                <table class="table table-bordered table-hover text-center">
                    <tr class="table-dark text-dark">
                        <th>Id</th>
                        <th>Головная организация</th>
                        <th>Стоимость</th>
                        <th>Удалить тариф у оператора</th>
                    </tr>
                    <tr th:each="gas : ${gasTar}">
                        <td th:text="${gas.id}"></td>
                        <td th:text="${gas.admin.label}"></td>
                        <td th:text="${gas.tariff}"></td>
                        <td><a th:href="@{'/operator/add-tariff?id=' + ${gas.id} +'&value=gas'}">Добавить</a></td>
                    </tr>
                </table>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Тарифы на теплоту</h4>
            <table class="table table-bordered table-hover text-center">
                <tr class="table-dark text-dark">
                    <th>Id</th>
                    <th>Головная организация</th>
                    <th>Стоимость</th>
                    <th>Удалить тариф у оператора</th>
                </tr>
                <tr th:each="heat : ${heatTar}">
                    <td th:text="${heat.id}"></td>
                    <td th:text="${heat.admin.label}"></td>
                    <td th:text="${heat.tariff}"></td>
                    <td><a th:href="@{'/operator/add-tariff?id=' + ${heat.id} +'&value=heat'}">Добавить</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>